.header-bar {
  background-color: #fff !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08) !important; /* subtle shadow under navbar */
  padding: 0 16px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  min-height: 64px;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo-text {
  color: #000;
  font-weight: 500;
}

.tab-active {
  border-radius: 20px;
  background-color: #3FBCE6 !important;
  margin: 0 8px;
  text-transform: none;
  width:121px;
  height: 31px;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 700;
  font-style: medium;
}

.tab-inactive {
  border-radius: 100px;
  background-color: #E8E8E8 !important;
  text-transform: none;
  color:black  !important;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.search-field {
  background-color: #f5f5f5;
  border-radius: 20px;
  min-width: 180px;
}

.search-input {
  padding: 6px 8px !important;
}

.search-icon {
  color: gray;
  font-size: 20px;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile-text {
  text-align: right;
}

.name {
  font-weight: bold;
  color: #000;
}

.role {
  color: gray;
}
